header {
    padding-top: 4rem;
    overflow: hidden;
    height: 100vh;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__buttons {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.header__socials {
    position: absolute;
    font-size: 1.2rem;
    bottom: 8rem;
    left: 0;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__socials a:hover {
    transform: scale(1.2);
}

.header__socials::after {
    content: '';
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
} 

.me {
    background: linear-gradient(transparent, var(--color-primary), transparent);
    width: 22rem;
    height: 34.8rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 1rem;
    overflow: hidden;
    padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down {
    position: absolute;
    right: 0;
    bottom: 12rem;
    transform: rotate(90deg);
    font-weight: 500;
}

/*===== Media Queries (MEDIUM) ======*/
@media screen and (max-width: 1024px) {
    
}

/*===== Media Queries (SMALL) ======*/
@media screen and (max-width: 600px) {
    header{
        padding-top: 1.5rem;
        height: 100vh;   
    }

    header h1 {
        font-size: 1.8rem;
    }
    .header__socials, .scroll__down {
        display: none;
    }

    .header__buttons {
        margin: 1rem 0;
    }

    .me {
        height: max-content;
    }
}